*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    outline: none;
    border: 1px solid black;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4,65px);

}

input{
    grid-column: span 4;
    height: 100px;
    width: 250px;
    background-color: #ecf0f3;
    border: 1px solid black;
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: right;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 40px;
    width: 40px;
    background-color: #ecf0f3;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.equal{
    width: 110px;
    border-radius: 40px;
    background-color: magenta;
    color: white;
}